# Finding the data only for california

In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import random
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
import plotly.express as px
import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# California Longitude and Latitude range
* https://netstate.com/states/geography/ca_geography.htm 
* Longitude = 114째 8' W to 124째 24' W
* Latitude = 32째 30' N to 42째 N

In [5]:
CA_LONGITUDE_RANGE = (-124, -114)
CA_LATITUDE_RANGE = (32, 42)

In [6]:
daily_fires_df = pd.read_csv('usa_canada_daily_fire_2000_2021.csv')

In [7]:
ca_fire = daily_fires_df[ 
    (daily_fires_df.latitude > CA_LATITUDE_RANGE[0]) & (daily_fires_df.latitude < CA_LATITUDE_RANGE[1])]

ca_fire = ca_fire[
    (ca_fire.longitude > CA_LONGITUDE_RANGE[0]) & (ca_fire.longitude < CA_LONGITUDE_RANGE[1])]

In [8]:
ca_fire.shape

(221183, 9)

In [9]:
ca_fire.sample(5)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
1264045,40.6534,-120.1253,2012-08-14,Aqua,MODIS,19.5,0,313.5,78
761991,34.7778,-119.6733,2007-08-19,Terra,MODIS,117.0,0,313.8,88
563386,33.2050,-116.9459,2003-10-27,Aqua,MODIS,116.0,0,295.4,100
1286144,41.0023,-122.2194,2018-08-24,Aqua,MODIS,17.0,0,300.7,54
936211,36.6087,-119.4001,2005-10-04,Terra,MODIS,14.1,0,298.0,76

In [10]:
ca_fire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221183 entries, 468817 to 1349230
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   latitude    221183 non-null  float64
 1   longitude   221183 non-null  float64
 2   acq_date    221183 non-null  object
 3   satellite   221183 non-null  object
 4   instrument  221183 non-null  object
 5   frp         221183 non-null  float64
 6   type        221183 non-null  int64
 7   bright_t31  221183 non-null  float64
 8   confidence  221183 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 16.9+ MB

In [11]:
ca_fire.describe()

,latitude,longitude,frp,type,bright_t31,confidence
count,221183.000000,221183.000000,221183.000000,221183.000000,221183.000000,221183.000000
mean,38.218017,-120.263418,137.750609,0.010991,299.375297,83.162490
std,2.536727,2.395738,353.842116,0.150897,12.301854,16.044658
min,32.464600,-123.999700,0.000000,0.000000,265.300000,50.000000
25%,36.280050,-122.345450,19.900000,0.000000,291.500000,70.000000
50%,38.660300,-120.495900,43.100000,0.000000,297.600000,86.000000
75%,40.319500,-118.776300,110.100000,0.000000,305.600000,100.000000
max,41.999900,-114.000100,11944.200000,3.000000,400.100000,100.000000

In [13]:
ca_fire.dtypes

latitude      float64
longitude     float64
acq_date       object
satellite      object
instrument     object
frp           float64
type            int64
bright_t31    float64
confidence      int64
dtype: object

In [14]:
ca_fire['acq_date'] = pd.to_datetime(ca_fire['acq_date'])

In [16]:
ca_fire.dtypes

latitude             float64
longitude            float64
acq_date      datetime64[ns]
satellite             object
instrument            object
frp                  float64
type                   int64
bright_t31           float64
confidence             int64
dtype: object

In [17]:
ca_fire['year'] = ca_fire.acq_date.dt.year
ca_fire['month'] = ca_fire.acq_date.dt.month

In [18]:
ca_fire.dtypes

latitude             float64
longitude            float64
acq_date      datetime64[ns]
satellite             object
instrument            object
frp                  float64
type                   int64
bright_t31           float64
confidence             int64
year                   int64
month                  int64
dtype: object

# Uploading data into a csv

In [20]:
ca_fire.to_csv('ca_fire_2012_2020.csv', index = False)